:root {
  --font-family: "Roboto", sans-serif;
  --font-family-logo: "Raleway", sans-serif;

  --color-iris: rgba(77, 90, 229, 1);
  --color-ocean: rgba(64, 75, 191, 1);
  --color-white: rgba(255, 255, 255, 1);
  --color-navy-blue: rgba(46, 47, 66, 1);

  --color-green: rgba(49, 208, 170, 1);
  --color-slate: rgba(67, 68, 85, 1);
  --color-cornflower: rgba(231, 233, 252, 1);
  --color-navy-blue-modal: rgba(46, 47, 66, 0.4);
  --color-grey: rgba(46, 47, 66, 0.7);
  --color-cloud: rgba(244, 244, 253, 1);
  --color-dairy: rgba(252, 252, 252, 1);
  --color-light-slate: rgba(142, 143, 153, 1);

  --indent: 24px;
  --quantity: 1;

  --transition-duration: 250ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

* {
  box-sizing: border-box;
}

/* reset start */

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
  font-style: normal;
}
/* reset end */

.container {
  min-width: 320px;
  max-width: 428px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 16px;

  /* outline: 2px solid red; */
}
@media only screen and (min-width: 768px) {
  .container {
    max-width: 735px;
  }
}
@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

body {
  font-family: var(--font-family);
  color: var(--color-slate);
  background-color: var(--color-white);
}

/* nav style */

.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.page-header {
  border-bottom: 1px solid var(--color-cornflower);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-right: auto;
  padding-top: 24px;
  padding-bottom: 24px;
}
@media only screen and (max-width: 767px) {
  .navigation {
    display: block;
  }
}

.nav-link {
  font-family: var(--font-family-logo);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-iris);
  /* position */
  margin-right: 76px;
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .nav-link {
    margin-right: 100px;
  }
}

.nav-link > span {
  font-family: var(--font-family-logo);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-navy-blue);
}

.nav-list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 40px;
}
@media only screen and (max-width: 767px) {
  .nav-list {
    display: none;
  }
}

.contact-list {
  display: none;
}
@media only screen and (min-width: 767px) {
  .contact-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}
@media only screen and (min-width: 1200px) {
  .contact-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
  }
}

.nav-link-list {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-navy-blue);
  letter-spacing: 0.02em;

  transition: color var(--transition-duration) var(--transition-timing-function);

  padding: 24px 0;
  position: relative;
}

.nav-link-list:hover,
.nav-link-list:focus {
  color: var(--color-ocean);
}

.nav-link-list::after {
  content: "";

  position: absolute;
  bottom: 0;
  top: 68px;
  left: 0;

  display: block;
  width: 100%;
  height: 4px;
  border-radius: 4px;
}

.nav-link-list.current {
  color: var(--color-ocean);
}

.nav-link-list.current::after {
  background-color: var(--color-ocean);
}

.contact-list-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-slate);
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-list-item:active,
.contact-list-item:hover,
.contact-list-item:focus {
  color: var(--color-ocean);
}
@media only screen and (max-width: 1199px) {
  .contact-list-item {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.04em;
    color: var(--color-slate);
  }
}

/* HERO SECTION */

.hero-box {
  max-width: 428px;
}
@media only screen and (min-width: 768px) {
  .hero-box {
    max-width: 768px;
  }
}
@media only screen and (min-width: 1200px) {
  .hero-box {
    max-width: 1440px;
  }
}

.hero {
  padding-top: 112px;
  padding-bottom: 112px;
  margin-left: auto;
  margin-right: auto;

  background-color: var(--color-navy-blue);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/bg-img/bg_mob@1x.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  position: relative;
}

/* 320 < X < 480  MOBILE*/
@media only screen and (max-width: 480px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/bg-img/bg_mob@1x.webp);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/bg-img/bg_mob@2x.webp);
    }
  }
}

/* 480 < x < 768 TABLET */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/bg-img/bg_tablet@1x.webp);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/bg-img/bg_tablet@2x.webp);
    }
  }
}

/* X > 768 MONITOR */
@media only screen and (min-width: 769px) {
  .hero {
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/bg-img/bg_tablet@1x.webp);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/bg-img/bg_tablet@2x.webp);
    }
  }
}
@media only screen and (min-width: 1200px) {
  .hero {
    padding-top: 188px;
    padding-bottom: 188px;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/bg-img/people-office\ 1bg-d@1x.webp);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/bg-img/people-office\ 1bg-d@2x.webp);
    }
  }
}

.hero-container {
  display: block;
}

.text {
  font-family: var(--font-family-logo);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-cloud);
}

.hero-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;

  color: var(--color-white);
  text-align: center;
  letter-spacing: 0.02em;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;
  width: 320px;
}
@media only screen and (min-width: 768px) {
  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    margin-bottom: 36px;
    width: 496px;
  }
}
@media only screen and (min-width: 1200px) {
  .hero-title {
    margin-bottom: 48px;
  }
}

.btn {
  display: block;
  min-width: 169px;
  min-height: 56px;
  padding: 16px, 32px;
  margin-left: auto;
  margin-right: auto;
}

.btn-dark {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-white);
  background-color: var(--color-iris);
  letter-spacing: 0.04em;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;

  transition: background-color var(--transition-duration)
      var(--transition-timing-function),
    color var(--transition-duration) var(--transition-timing-function);
}

.btn-dark:hover,
.btn-dark:focus {
  color: var(--color-white);
  background-color: var(--color-ocean);
}

/* SECONDER SECTION strategy */

.strategy {
  padding-top: 120px;
  padding-bottom: 120px;
}
@media only screen and (max-width: 1200px) {
  .strategy {
    padding-top: 96px;
    padding-bottom: 96px;
  }
}

.list-content {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 72px;
}
@media only screen and (min-width: 768px) {
  .list-content {
    gap: 72px 24px;
  }
}
@media only screen and (min-width: 1200px) {
  .list-content {
    gap: 24px;
  }
}

.list-content-item {
  list-style-type: none;
  flex-basis: 100%;
}
@media only screen and (min-width: 768px) {
  .list-content-item {
    flex-basis: calc((100% - var(--indent)) / 2);
  }
}
@media only screen and (min-width: 1200px) {
  .list-content-item {
    flex-basis: calc((100% - 72px) / 4);
  }
}
.strategy-title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}
@media only screen and (min-width: 768px) {
  .strategy-title {
    text-align: start;
  }
}
@media only screen and (min-width: 1200px) {
  .strategy-title {
    font-size: 20px;
    line-height: 1.2;
  }
}

/* ICONS CODE */

.icon-container {
  display: flex;
  height: 112px;
  align-items: center;
  justify-content: center;
  background-color: var(--color-cloud);
  margin-bottom: 8px;
  border-radius: 4px;
}
@media only screen and (max-width: 1199px) {
  .icon-container {
    display: none;
  }
}

.title-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-navy-blue);
  margin-bottom: 8px;
}
@media only screen and (max-width: 767px) {
  .title-name {
    text-align: center;
  }
}

.title-centre {
  text-align: center;
}

.title {
  margin-bottom: 8px;
}

.list-content-item:last-child {
  margin-right: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*  SUBJEKT */

.subjekt,
.team-content {
  padding-bottom: 120px;
}
@media only screen and (max-width: 1199px) {
  .subjekt {
    display: none;
  }
}

.part-list-item {
  width: calc((100% - 48px) / 3);
}

.title-desc {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-navy-blue);
  margin-bottom: 72px;
}

.desc,
.label {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-slate);
}

/* TEAM SECTION */

.team-content {
  background-color: var(--color-cloud);
  padding: 96px 0;
}
@media only screen and (min-width: 1200px) {
  .team-content {
    padding: 120px 0;
  }
}
.part-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
  margin-left: auto;
  margin-right: auto;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 24px;
  row-gap: 72px;
  margin-left: 66px;
  margin-right: 66px;
}
@media only screen and (min-width: 768px) {
  .team-list {
    gap: 72px 24px;
  }
}
@media only screen and (min-width: 1200px) {
  .team-list {
    flex-direction: row;
    gap: 24px;
    justify-content: space-between;
    margin-left: 0;
    margin-right: 0;
  }
}
.team-img {
  margin-left: auto;
  margin-right: auto;
}

/* SOCIAL ICONS */

.media-team-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 24px;
  flex-basis: calc((100% - 3 * 24px) / 4);
}

.social-link {
  fill: var(--color-cloud);
  width: 40px;
  height: 40px;
}

.social-icon {
  width: 100%;
  height: 100%;
  background-color: var(--color-iris);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  transition: background-color var(--transition-duration)
      var(--transition-timing-function),
    color var(--transition-duration) var(--transition-timing-function);
}

.social-icon:hover,
.social-icon:focus {
  background-color: var(--color-ocean);
  color: var(--color-ocean);
}

.svg-icon {
  fill: var(--color-cloud);
}

.team-list-item {
  flex-basis: 100%;
  background-color: var(--color-white);

  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
@media only screen and (min-width: 768px) {
  .team-list-item {
    flex-basis: calc((100% - 48px) / 2);
  }
}
@media only screen and (min-width: 1200px) {
  .team-list-item {
    flex-basis: calc((100% - 72px) / 4);
  }
}

.team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-slate);
  text-align: center;
  margin-bottom: 8px;
}

.team-member {
  padding: 32px 0;
  border-radius: 0px 0px 4px 4px;
}

/*  CUSTOMERS  */

.customers {
  padding-top: 120px;
  padding-bottom: 120px;
}
@media only screen and (max-width: 1199px) {
  .customers {
    padding-top: 96px;
    padding-bottom: 96px;
  }
}

.pic-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 72px 16px;
}
@media only screen and (min-width: 768px) {
  .pic-list {
    margin-left: 66px;
    margin-right: 66px;
    gap: 72px 24px;
  }
}
@media only screen and (min-width: 1200px) {
  .pic-list {
    flex-direction: row;
    margin-left: 0;
    margin-right: 0;
    gap: 24px;
  }
}

.pic-list-item {
  height: 88px;
  flex-basis: calc((100% - 16px) / 2);
}
@media only screen and (min-width: 768px) {
  .pic-list-item {
    flex-basis: calc((100% - 2 * 24px) / 3);
  }
}
@media only screen and (min-width: 1200px) {
  .pic-list-item {
    flex-basis: calc((100% - 120px) / 6);
  }
}

.logo-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 168px;
  height: 88px;
  width: 100%;
  height: 100%;
  color: var(--color-light-slate);
  flex-basis: calc((100% - 5 * 24px) / 6);

  border: 1px solid var(--color-light-slate);
  border-radius: 4px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color var(--transition-duration) var(--transition-timing-function);
}

.logo {
  fill: currentColor;
}

.logo-link:hover,
.logo-link:focus {
  border-color: 1px solid var(--color-ocean);
  color: var(--color-ocean);
}

/* footer */

.page-footer {
  background-color: var(--color-navy-blue);
  padding: 100px 0;
}
@media only screen and (max-width: 1199px) {
  .page-footer {
    padding: 96px 0;
  }
}

.foot-box {
  margin-right: 0;
  margin-left: 0;
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .foot-box {
    margin-right: 24px;
    margin-left: 66px;
    margin-bottom: 72px;
  }
}
@media only screen and (min-width: 1200px) {
  .foot-box {
    margin-right: 120px;
    margin-left: 0;
  }
}

/* social media */

.media-footer-list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  gap: 16px;
  flex-basis: calc((100% - 3 * 16px) / 4);
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  gap: 72px;
  /* display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  */
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-container {
    justify-content: flex-start;
    align-items: baseline;
    gap: 0;
  }
}
@media only screen and (min-width: 1200px) {
  .footer-container {
    justify-content: flex-start;
    align-items: baseline;
    gap: 0;
  }
}

.footer-link {
  font-family: var(--font-family-logo);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-iris);
  display: inline-block;
  margin-bottom: 16px;
  vertical-align: middle;
}

@media only screen and (max-width: 767px) {
  .footer-link {
    display: block;
    text-align: center;
  }
}

.desc-dark {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-white);
  background-color: #2e2f42;
  letter-spacing: 0.02em;
  width: 264px;
}

.footer-icon {
  width: 100%;
  height: 100%;
  background-color: var(--color-iris);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon:hover,
.footer-icon:focus {
  background-color: var(--color-green);
}

/*  SOCIAL MEDIA SECTION  */

.media-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-white);
  margin-bottom: 16px;
}
@media only screen and (max-width: 767px) {
  .media-title {
    text-align: center;
  }
}

.input {
  margin-right: 0;
  margin-left: 66px;
}

@media only screen and (min-width: 1200px) {
  .input {
    margin-left: auto;
    margin-right: 0;
  }
}

@media only screen and (max-width: 767px) {
  .input {
    margin-left: 0;
  }
}

.form-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
@media only screen and (min-width: 428px) and (max-width: 767px) {
  .form-container {
    align-items: center;
    justify-content: flex-start;
  }
}
@media only screen and (min-width: 768px) {
  .form-container {
    align-items: center;
    justify-content: flex-start;
  }
}

.form {
  display: block;
  width: 100%;
  /* min-width: 320px;
  height: 40px; */
  padding: 8px 16px;

  border: 1px solid var(--color-white);
  border-radius: 4px;
  background-color: var(--color-navy-blue);
  color: var(--color-white);
  font-size: 14px;
  outline: none;
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .form {
    width: 398px;
  }
}
@media only screen and (min-width: 768px) {
  .form {
    width: 264px;
    margin-right: 24px;
  }
}
@media only screen and (min-width: 1200px) {
  .form {
    min-width: 264px;
    margin-right: auto;
    margin-left: auto;
  }
}
.form::placeholder {
  font-size: 12px;
  color: var(--color-white);
}

.form-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  align-items: center;
  letter-spacing: 0.04em;
  color: var(--color-white);

  /* position */
  position: absolute;
  width: 36px;
  height: 24px;
  top: 0;
  left: 16px;
  z-index: 100;
}
.button {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 8px 24px;

  min-height: 40px;
}
@media only screen and (max-width: 767px) {
  .button {
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
}

.btn-icon {
  width: 24px;
  height: 24px;

  fill: var(--color-white);
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  height: 100%;
  z-index: 100;
  opacity: 1;

  background: rgba(46, 47, 66, 0.4);

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  visibility: hidden;
  pointer-events: none;
}
.modal {
  width: 408px;
  padding: 24px;
  padding-top: 72px;
  background-color: var(--color-dairy);

  border-radius: 4px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  /* position */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 200;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (max-width: 408px) {
  .modal {
    width: 320px;
    padding: 72px 16px 24px;
    top: 50%;
  }
}

.modal-btn {
  padding: 0;
  background-color: var(--color-cornflower);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background: transparent;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  /* position */
  position: absolute;
  top: 24px;
  right: 24px;

  transition: background-color var(--transition-duration)
      var(--transition-timing-function),
    fill var(--transition-duration) var(--transition-timing-function);
}
.modal-icon {
  width: 8px;
  height: 8px;
  margin: 8px;
}
.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--color-ocean);
  fill: var(--color-white);
}

/* FORM STYLE */
.modal-title {
  display: block;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--color-navy-blue);

  margin-bottom: 16px;
}
.contact-form {
  display: block;
  /* flex-direction: column;
  align-items: flex-start; */
}
.contact-form-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.6;
  letter-spacing: 0.04em;
  color: var(--color-light-slate);

  margin-bottom: 4px;
}
.contact-form-box {
  position: relative;
  margin-bottom: 8px;
}
.contact-form-item {
  display: block;
  width: 360px;
  height: 40px;
  padding: 0 38px;

  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  outline: transparent;

  transition: border var(--transition-duration)
    var(--transition-timing-function);

  pointer-events: none;
}
@media only screen and (max-width: 427px) {
  .contact-form-item {
    width: 100%;
    /* width: 360px; */
  }
}
.contact-form-item:hover,
.contact-form-item:focus ~ .contact-form-icon {
  border-color: var(--color-iris);
  border-radius: 4px;
  fill: var(--color-iris);
}

.contact-form-icon {
  display: block;
  width: 18px;
  height: 24px;

  position: absolute;
  top: 50%;
  left: 16px;

  transition: fill var(--transition-duration) var(--transition-timing-function);
}
.contact-form-icon:hover,
.contact-form-icon:focus {
  fill: var(--color-iris);
}
.textarea {
  display: block;
  width: 100%;
  height: 120px;
  padding: 8px 10px 16px;

  font-family: var(--font-family);
  font-weight: 400;

  line-height: 1.6;
  letter-spacing: 0.04em;
  color: var(--color-navy-blue);

  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  outline: none;

  resize: none;

  transition: border var(--transition-duration)
    var(--transition-timing-function);
}
.textarea:hover,
.textarea:focus {
  border-color: var(--color-iris);
  border-radius: 4px;
}
.textarea::placeholder {
  font-size: 12px;
  color: var(--color-light-slate);
}
.textarea-box {
  margin-bottom: 16px;
  width: 100%;
}
.contact-form-agreement {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-bottom: 24px;
}
.contact-form-agreement-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: var(--color-light-slate);
}
.contact-form-agreement-box {
  appearance: none;

  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  background-color: var(--color-cloud);

  transition: background-color var(--transition-duration)
    var(--transition-timing-function);
  pointer-events: none;
}
.contact-form-agreement-box:checked {
  background-color: var(--color-ocean);
}

.contact-form-agreement-icon {
  width: 10px;
  height: 8px;

  position: absolute;
  top: 5px;
  left: 13px;

  transition: fill var(--transition-duration) var(--transition-timing-function);
}
@media only screen and (max-width: 428px) {
  .contact-form-agreement-icon {
    top: 10px;
    left: 2px;
  }
}

.contact-form-agreement-link {
  color: var(--color-ocean);
}

/* PORTFOLIO */

/* top line */

.portfolio-link {
  display: block;

  transition: box-shadow var(--transition-duration)
    var(--transition-timing-function);
}

.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.description {
  padding-top: 96px;
  padding-bottom: 120px;
}

.btn-iris {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-iris);
  background-color: var(--color-cloud);
  letter-spacing: 0.04em;
  cursor: pointer;
  border: 1px solid var(--color-cornflower);
  border-radius: 4px;
  min-height: 48px;
  padding: 12px 24px;

  transition: color var(--transition-duration) var(--transition-timing-function),
    background-color var(--transition-duration)
      var(--transition-timing-function),
    box-shadow var(--transition-duration) var(--transition-timing-function);
}

.btn-iris:hover,
.btn-iris:focus {
  color: var(--color-white);
  background-color: var(--color-ocean);
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.btn-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

/* content  */

.row-list {
  display: flex;
  width: 1128px;
  flex-wrap: wrap;
  gap: var(--indent);
  row-gap: 48px;
  column-gap: 24px;
  padding-bottom: 120px;
}

.row-list-item {
  width: calc((100% - 48px) / 3);
}

.row-container {
  padding: 32px 16px;
  border: 1px solid var(--color-cornflower);
  border-top: none;
}

.row-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 8px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-navy-blue);
}

.overley {
  position: relative;
  overflow: hidden;
}

.label {
  background-color: var(--color-iris);
  color: var(--color-cloud);
  padding-top: 40px;
  padding-left: 32px;
  padding-right: 32px;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  transform: translate(0, 100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover .label,
.portfolio-link:focus .label {
  transform: translate(0, 0);
}
/* Mobile-menu style */
.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: var(--color-grey);
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}
@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}
.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: var(--color-white);
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;

  padding-top: 80px;
  padding-left: 40px;
  padding-right: 35px;
  padding-bottom: 40px;
  overflow: scroll;
}
.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: var(--color-navy-blue);
}
.mobile-menu,
.mobile-contakt {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;

  padding: 0;
  margin: 0;
  list-style: none;
}
.mobile-menu {
  margin-bottom: 284px;
}
.mobile-contakt {
  margin-bottom: 48px;
}
.mobile-nav {
  transition: color var(--transition-duration) var(--transition-timing-function);
}
.mobile-nav:hover,
.mobile-nav:focus {
  color: var(--color-iris);
}
.mobile-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-iris);

  margin-bottom: 48px;
}
.mobile-maile {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-slate);
}
.mobile-media-list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  gap: 56px;
  flex-basis: calc((100% - 3 * 56px) / 4);
  margin-bottom: auto;
}
.mobile-menu .link {
  display: block;

  color: #fff;
  text-decoration: none;
}
